<br>
<!--  FOOTER START -->
<div class="footer">
  <div class="inner-footer">

    <div class="footer-items">
      <h1 style="color:#f8aa02; font-size: 25px; font-weight: bold;" class="fas fa-shipping-fast">FastShopping</h1>
    </div>

    <!--  for some other links -->
    <div class="footer-items">
      <h3>Products</h3>
      <div class="border1"></div>
      <!--for the underline -->
      <ul>
        <a href="#">
          <li>Electronics</li>
        </a>
        <a href="#">
          <li>Fashion</li>
        </a>
        <a href="#">
          <li>Jewellery</li>
        </a>
      </ul>
    </div>

    <!--  for contact us info -->
    <div class="footer-items">
      <h3>Contact us</h3>
      <div class="border1"></div>
      <ul>
        <li><i class="fa fa-map-marker" aria-hidden="false"></i>Navi Mumbai</li>
        <li><i class="fa fa-phone" aria-hidden="false"></i>9130665475</li>
        <li><i class="fa fa-envelope" aria-hidden="false"></i>group2@gmail.com</li>
      </ul>
    </div>

    <div class="social-media">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-google-plus-square"></i></a>
    </div>
    <!--   Footer Bottom start  -->
    <div class="footer-bottom">
      Copyright &copy; FastShopping 2022.
    </div>
  </div>